# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/src/client/.next/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.env

output/

prisma/database.sqlite

src/client/public/theme-assets/zoomer-1.mp4
src/client/public/theme-assets/zoomer-2.mp4
src/client/public/theme-assets/zoomer-3.mp4