.adminModal {
  display: flex;
  width: min(calc(100vw - 1rem), 900px);
  height: calc(100vh - 9rem);
  overflow-y: auto;

  @media (max-width: 767px) {
    flex-direction: column;
    height: calc(100vh - 4rem);
  }
}