.list {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color-1);

  .bumper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    color: var(--text-color-2);
    
    &:hover { color: var(--text-color-1); background-color: var(--bg-color-2); }
    
    .left {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 0.2rem 0.5rem;
      overflow: hidden;
      cursor: default;

      span {
        font-size: 0.9rem;
        color: var(--text-color-3);
      }

      P {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.25rem;
      font-size: 1.2rem;
      color: var(--text-color-3);
      background: none;
      border: none;
      transition: 150ms ease-in-out;
      cursor: pointer;

      &:hover { color: var(--text-color-1); background: var(--error-color); }
    }
  }
}