.navbar {
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--border-color-1);
  overflow-y: auto;
  flex-shrink: 0;

  @media (max-width: 767px) {
    flex-direction: row;
    border-right: none;
    border-bottom: 1px solid var(--border-color-1);
    overflow-x: auto;
    overflow-y: hidden;
  }

  button {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    padding: 0.5rem 1rem 0.5rem calc(1rem - 3px);
    white-space: nowrap;
    font-size: 1.2rem;
    color: var(--select-color);
    background: none;
    border: none;
    border-left: 3px solid transparent;
    cursor: pointer;

    &:hover { background: var(--bg-color-2); }

    &.active { color: var(--text-color-1); background: var(--bg-color-3); border-color: var(--select-color); }

    svg { font-size: 1rem; }
  }
}