.filePicker {
  border: 1px solid var(--border-color-1);

  // Search bar container
  .searchBox {
    position: relative;
  
    input {
      resize: none;
      width: 100%;
      padding: 0.5rem 0.75rem 0.5rem 2rem;
      font-size: 1rem;
      font-family: inherit;
      color: var(--text-color-3);
      background: var(--bg-color-2);
      border: 1px solid transparent;
  
      &:focus {
        outline: none;
        color: var(--text-color-1);
        border-color: var(--border-color-1);
      }
    }
  
    .searchIcon {
      position: absolute;
      top: 50%;
      left: 0.5rem;
      transform: translateY(-50%);
      font-size: 1.2em;
      color: rgb(127, 127, 127);
      pointer-events: none;
    }
  
    .resultsCount {
      position: absolute;
      top: 1px;
      right: 1px;
      height: calc(100% - 2px);
      display: flex;
      align-items: center;
      padding: 0 0 0 0.5rem;
      font-size: 0.9rem;
      color: var(--text-color-3);
      background: var(--bg-color-2);
      cursor: default;
  
      button {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 0.5rem;
        font-size: 1.5rem;
        color: var(--text-color-3);
        background: none;
        border: none;
        cursor: pointer;
  
        &:hover { color: var(--text-color-1); }
      }
    }
  }

  // File items container
  .items {
    padding: 0.25rem 0;
    border-top: 1px solid var(--border-color-1);
    overflow: hidden;
    
    label.item { cursor: pointer !important; }

    .item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.5rem;
      padding: 2px 10px 2px 5px;
      color: var(--text-color-2);
      overflow: hidden;
      cursor: -webkit-grab;
      cursor: -moz-grab;
    
      &:hover { background: var(--bg-color-2); }
      &.selected { color: var(--text-color-1); background: var(--bg-color-3); }
    
      .left {
        display: flex;
        align-items: center;
        gap: 0.3rem;
        overflow: hidden;
        
        input[type="checkbox"] {
          appearance: none;
          position: relative;
          width: 1rem;
          height: 1rem;
          border: 1px solid var(--border-color-1);
          border-radius: 0.25rem;
          cursor: pointer;
      
          &:hover { background: var(--bg-color-1); border-color: var(--select-color); }
      
          &:checked {
            background: var(--select-color);
            border-color: var(--select-color);
      
            &:after {
              content: "✔";
              display: block;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 1rem;
              height: 1rem;
              text-align: center;
              line-height: 1rem;
              font-size: 0.75rem;
              color: var(--text-color-1);
            }
          }
        }
      
        p {
          flex: 1;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
      
          // Highlight search results
          span { background: rgba(255, 255, 0, 0.25); }
        }
      }

      .right {
        flex-shrink: 0;
        max-width: 33%;
        font-size: 0.85rem;
        color: var(--text-color-3);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        svg {
          transition: 150ms ease-in-out;
          transform: rotate(270deg);
          &.open { transform: rotate(360deg); }
        }
      }
    }
  }
}


.searchLoading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  padding: 1.5rem 0;
  font-size: 0.9rem;
  letter-spacing: 1px;
  color: var(--text-color-3);
  cursor: default;
  
  svg { font-size: 1.5rem; }
}