.filePicker {
  border: 1px solid var(--border-color-1);
}

.treeItem {
  &.selected {
    background: var(--bg-color-3);
    .item { color: var(--text-color-1) !important; background: var(--bg-color-3) !important; }
  }
  
  label.item { cursor: pointer !important; }

  .item {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    padding: 2px;
    color: var(--text-color-2);
    overflow: hidden;
    cursor: -webkit-grab;
    cursor: -moz-grab;

    &:hover { background: var(--bg-color-2); }

    input[type="checkbox"] {
      appearance: none;
      width: 1rem;
      height: 1rem;
      border: 1px solid var(--border-color-1);
      border-radius: 0.25rem;
      cursor: pointer;

      &:hover { background: var(--bg-color-1); }

      &:checked {
        background: rgb(95, 95, 255);
        border-color: rgb(95, 95, 255);

        &:after {
          content: "✔";
          display: block;
          width: 1rem;
          height: 1rem;
          text-align: center;
          line-height: 1rem;
          font-size: 0.75rem;
          color: var(--text-color-1);
        }
      }
    }

    span {
      flex: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}