.sectionBumpers {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;

  h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
}

.addBumperModal {
  padding: 1rem;
  
  .buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
  }
}