.sectionStream {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  overflow-x: hidden;

  h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  .queueList {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color-1);

    .queueItem {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.5rem;
      padding: 0.5rem;
      font-size: 1rem;
      color: var(--text-color-1);
      cursor: default;
      animation: itemFadeIn 300ms ease-in-out forwards;

      @keyframes itemFadeIn {
        from { opacity: 0; transform: translateY(1rem); }
        to { opacity: 1; transform: translateY(0); }
      }

      &:hover { background: var(--bg-color-2); }

      span {
        font-size: 0.9rem;
        color: var(--select-color);
      }
    }
  }
}