.sectionPlaylists {
  display: flex;
  flex-direction: column;
}

.addFirstPlaylist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
  padding: 1rem;
  font-size: 1.2rem;
  color: var(--text-color-3);

  .icon { font-size: 3rem; }
  p { margin-bottom: 0.5rem; cursor: default; }
}