.videoAndChat {
  display: flex;
  // height: 100%;
  // fixed height for 16x9 aspect ratio + chat
  height: calc((100vw - var(--chat-width)) * 9 / 16);
  max-height: calc(100vh - var(--header-height) - 3.5rem - 2px);

  @media (max-width: 767px) {
    flex-direction: column;
    height: auto;
    max-height: unset;
  }
}