.chat {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: var(--chat-width);
  height: 100%;
  border: 1px solid var(--border-color-1);

  @media (max-width: 767px) {
    width: 100%;
    height: 20rem;
  }

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid var(--border-color-1);

    .viewerCount {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      padding: 0.5rem 0.75rem;
      color: var(--text-color-2);
      cursor: default;

      &:hover { color: var(--text-color-1); background: var(--bg-color-2); }
    }

    .usernameButton {
      display: flex;
      align-items: center;
      gap: 0.1rem;
      padding: 0.5rem 0.75rem;
      color: var(--text-color-2);
      background: none;
      border: none;
      cursor: pointer;

      &:hover { color: var(--text-color-1); background: var(--bg-color-2); }

      svg { font-size: 0.6rem; transform: translateY(-0.5em); }
    }
  }

  .messages {
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    padding: 0.5rem 0;
    overscroll-behavior: contain;
    overflow-x: hidden;
    overflow-y: auto;

    .message, .error, .event {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 0.25rem;
      padding: 0.125em 0.25em;
      animation: chatMessage 150ms ease-in-out;

      @keyframes chatMessage {
        0% { transform: translateY(0.5rem); opacity: 0; }
        100% { transform: translateY(0); opacity: 1; }
      }

      &:hover { background: var(--bg-color-2);}

      div {
        display: flex;
        align-items: flex-start;
        gap: 0.35rem;
        overflow: hidden;
      }

      .image {
        width: 1.4rem;
        height: 1.4rem;
        border-radius: 50%;
        background: white;
      }

      p {
        word-wrap: break-word;
        overflow-wrap: break-word;
        hyphens: auto;
        white-space: pre-wrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 1rem;
      }

      .timestamp {
        margin-top: 0.25em;
        white-space: nowrap;
        font-size: 0.75rem;
        color: var(--text-color-3);
        cursor: default;
      }

      &.error {
        padding: 0.25rem;
        padding-left: 0.35rem;
        color: var(--error-color);
        background: rgba(255, 95, 95, 0.2);
        border-left: 2px solid var(--error-color);
      }

      &.event {
        font-size: 0.9rem;
        color: var(--text-color-3);
        // color: #ff4545;
        // color: #00ff73;
        svg {
          margin-right: 0.25em;
          color: var(--select-color);
        }
      }
    }

    .noMessages {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.75rem;
      height: 100%;
      font-size: 1rem;
      color: var(--text-color-3);
      cursor: default;

      svg { font-size: 1.5em }
    }
  }

  .inputContainer {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 0.5rem;
    border-top: 1px solid var(--border-color-1);

    input {
      resize: none;
      width: 100%;
      padding: 0.5rem 0.75rem;
      font-size: 1rem;
      font-family: inherit;
      color: var(--text-color-3);
      background: var(--bg-color-2);
      border: 1px solid transparent;
      border-radius: 0.5rem;

      &:focus {
        outline: none;
        color: var(--text-color-1);
        border-color: var(--border-color-1);
      }
    }

    button {
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem;
      font-size: 1.2rem;
      color: var(--text-color-3);
      background: var(--bg-color-2);
      border: none;
      border-radius: 50%;
      cursor: pointer;

      &:hover {
        background: var(--bg-color-3);
      }
    }
  }
}