.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: var(--header-height);
  padding: 0 0.5rem;
  background: var(--bg-color-2);
  border-bottom: 1px solid black;
  box-shadow: 0 0 5px 0 black;
  overflow-x: auto;

  .logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;

    img { border-radius: 50%; }

    h1 {
      font-weight: 700;
      font-size: 1.3rem;
      color: var(--text-color-1);
      span { color: var(--logo-color-1); }
    }
  }

  .right {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}