.history {
  // width: 100%;
  margin: 1rem;
  padding: 1rem;
  background: var(--bg-color-2);
  border-radius: 1rem;
  overflow: hidden;

  .header {
    display: flex;
    align-items: center;
    gap: 0.3em;
    font-weight: 400;
    font-size: 1.2rem;

    span {
      font-size: 1rem;
      color: var(--text-color-3);
    }
  }

  .items {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
    list-style-type: none;
    animation: fadeIn 300ms ease-in-out;

    @keyframes fadeIn {
      0% { opacity: 0; }
      100% { opacity: 1; }
    }

    li {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      width: 100%;
      font-size: 1rem;
      color: var(--text-color-1);
      overflow: hidden;

      * {
        flex-shrink: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .index { color: var(--text-color-3); }

      .details {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;

        .title {
          display: flex;
          align-items: center;
          gap: 0.35rem;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;

          span {
            padding: 0.2em 0.4em;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 1em;
            background: rgb(100, 100, 255);
            border-radius: 0.5em;
            cursor: default;
          }
        }

        .duration {
          font-size: 1rem;
          color: var(--text-color-3);
        }
      }
    }
  }

  .noVideos {
    margin: 1.5rem 0;
    text-transform: uppercase;
    font-size: 1rem;
    color: var(--text-color-3);
  }
}