.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  min-height: 100vh;
  font-size: 1.1rem;
  color: var(--text-color-3);

  svg {
    font-size: 3rem;
  }
}
