@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

// Big play button overlay
.playButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0.5rem;
  font-size: 5rem;
  color: var(--text-color-2);
  background: var(--bg-color-2);
  border: none;
  border-radius: 1rem;
  cursor: pointer;

  &:hover {
    color: var(--text-color-1);
    background: var(--bg-color-3);
  }
}

.paused, .loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  white-space: nowrap;
  color: var(--text-color-2);
  background: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  animation: fadeIn 300ms ease-in-out;
  cursor: default;

}

.error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
  color: var(--text-color-2);
  animation: fadeIn 300ms ease-in-out;
  cursor: default;

  svg {
    font-size: 5rem;
    color: var(--error-color);
  }
}