// Fixed 9x16 aspect ratio
.videoContainer {
  position: relative;
  width: calc(100% - var(--chat-width));
  height: 100%;
  background: black;
  // background: rgb(0, 40, 00);
  display: flex;
  justify-content: center;
  align-items: center;

  video {
    width: 100%;
    height: 100%;
  }

  .controlsOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // align-items: center;
    // background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 2rem;
    transition: 150ms ease-in-out;
    opacity: 0;
    cursor: none;

    &.show { opacity: 1; cursor: auto; }

    // Big play button overlay
    .playButton {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      padding: 0.5rem;
      font-size: 5rem;
      color: var(--text-color-2);
      background: var(--bg-color-2);
      border: none;
      border-radius: 1rem;
      cursor: pointer;

      &:hover {
        color: var(--text-color-1);
        background: var(--bg-color-3);
      }
    }

    .controlsBar {
      display: flex;
      flex-direction: column;
      background: rgba(0, 0, 0, 0.5);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);

      progress {
        width: 100%;
        height: 5px;
        background: rgba(136, 136, 136, 0.5);
        border: none;
        appearance: none;
        transition: 150ms;

        &::-webkit-progress-bar { background: transparent; }
        &::-webkit-progress-value { background: var(--select-color); }
        &::-moz-progress-bar { background: var(--select-color); }
      }

      .controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;

        .group {
          display: flex;
          align-items: center;
          gap: 1rem;
        }

        .actionButton {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0.5rem;
          font-size: 2rem;
          color: white;
          background: none;
          border: none;
          cursor: pointer;
        }

        p {
          font-size: 1.2rem;
        }

        .volumeButton {
          &:hover {
            .volumeContainer { width: 5rem; }
          }

          .volumeContainer {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            width: 0;
            // overflow: hidden;

            input[type="range"] {
              width: 100%;
              height: 5px;
              background: rgba(136, 136, 136, 0.5);
              border: none;
              appearance: none;
              transition: 150ms;

              &::-webkit-progress-bar { background: transparent; }
              &::-webkit-progress-value { background: var(--select-color); }
              &::-moz-progress-bar { background: var(--select-color); }

              &::-webkit-slider-runnable-track {
                width: 100%;
                height: 8.4px;
                cursor: pointer;
                box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
                background: #3071a9;
                border-radius: 1.3px;
                border: 0.2px solid #010101;
              }
            }
          }
        }
      }
    }





    
  }

  .loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    color: var(--text-color-3);
    cursor: default;

    svg { font-size: 3rem; }
  }

  .error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    color: var(--error-color);
    cursor: default;

    svg { font-size: 3rem; }
  }
}