.controlsBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  transition: 150ms;

  &:not(.show) {
    transform: translateY(100%);
    opacity: 0;
  }

  progress {
    width: 100%;
    height: 5px;
    background: rgba(136, 136, 136, 0.5);
    border: none;
    appearance: none;
    transition: 150ms;

    &::-webkit-progress-bar {
      background: transparent;
    }
    &::-webkit-progress-value {
      background: var(--select-color);
    }
    &::-moz-progress-bar {
      background: var(--select-color);
    }
  }

  .controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;

    .group {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    .actionButton {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem;
      font-size: 2rem;
      color: white;
      background: none;
      border: none;
      cursor: pointer;

      &.disabled {
        color: var(--error-color);
        cursor: not-allowed;
      }
    }

    p {
      font-size: 1.2rem;
    }

    .volumeButton {
      &:hover {
        .volumeContainer {
          width: 5rem;
          opacity: 1;
        }
      }

      .volumeContainer {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        width: 0;
        opacity: 0;
        transition: 150ms ease-in-out;

        input[type='range'] {
          width: 100%;
          height: 5px;
          background: rgb(75, 75, 75);
          border: none;
          appearance: none;
          transition: 150ms;

          &::-webkit-progress-bar {
            background: transparent;
          }
          &::-webkit-progress-value {
            background: var(--select-color);
          }
          &::-moz-progress-bar {
            background: var(--select-color);
          }
          &::-moz-range-progress {
            background: var(--select-color);
          }

          &::-webkit-slider-runnable-track {
            width: 100%;
            height: 8.4px;
            cursor: pointer;
            box-shadow:
              1px 1px 1px #000000,
              0px 0px 1px #0d0d0d;
            background: #3071a9;
            border-radius: 1.3px;
            border: 0.2px solid #010101;
          }

          &::-webkit-slider-thumb {
            height: 16px;
            width: 16px;
            border-radius: 50%;
            background: #ffffff;
            cursor: pointer;
            -webkit-appearance: none;
            margin-top: -4px;
            box-shadow: 0px 0px 2px #000000;
          }
        }
      }
    }
  }
}
