$tooltipBackground: rgb(63, 63, 63);

.tooltip {
  padding: 0.5rem;
  color: white;
  background: $tooltipBackground;
  border-radius: 0.5rem;
  animation: fadeIn 150ms ease-in-out;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .arrow {
    position: absolute;
    width: 0;
    height: 0;

    // Arrow on top
    &.bottom,
    &.bottom-start,
    &.bottom-end {
      border-left: 0.5rem solid transparent;
      border-right: 0.5rem solid transparent;
      border-bottom: 0.5rem solid $tooltipBackground;

      // Arrow on top
      &.bottom {
        top: -0.5rem;
        left: 50%;
        transform: translateX(-50%);
      }
      // Arrow on top-left
      &.bottom-start {
        top: -0.5rem;
        left: 1rem;
      }
      // Arrow on top-right
      &.bottom-end {
        top: -0.5rem;
        right: 1rem;
      }
    }

    // Arrow on bottom
    &.top,
    &.top-start,
    &.top-end {
      border-left: 0.5rem solid transparent;
      border-right: 0.5rem solid transparent;
      border-top: 0.5rem solid $tooltipBackground;

      // Arrow on bottom
      &.top {
        bottom: -0.5rem;
        left: 50%;
        transform: translateX(-50%);
      }
      // Arrow on bottom-left
      &.top-start {
        bottom: -0.5rem;
        left: 1rem;
      }
      // Arrow on bottom-right
      &.top-end {
        bottom: -0.5rem;
        right: 1rem;
      }
    }

    // Arrow on left
    &.right {
      border-top: 0.5rem solid transparent;
      border-bottom: 0.5rem solid transparent;
      border-left: 0.5rem solid $tooltipBackground;
      right: -0.5rem;
      top: 50%;
      transform: translateY(-50%);
    }

    // Arrow or right
    &.left {
      border-top: 0.5rem solid transparent;
      border-bottom: 0.5rem solid transparent;
      border-right: 0.5rem solid $tooltipBackground;
      left: -0.5rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
